@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}
* body {
  margin: 0;
}
* body .house {
  display: flex;
  flex-direction: column;
}
* body .house .home {
  background-color: #080E2F;
  height: 100vh;
  color: white;
}
* body .house .home .tophome {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
* body .house .home .tophome img {
  width: 12vw;
  height: 12vw;
  padding: 1vw;
}
* body .house .home .tophome .navbar ul {
  text-align: center;
}
* body .house .home .tophome .navbar ul a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
* body .house .home .tophome .navbar ul a #selected {
  background-color: white;
  color: #080E2F;
}
* body .house .home .tophome .navbar ul li {
  display: inline;
  padding: 0 2.2vw 0 0;
  list-style: none;
  font-size: 1.4vw;
  font-weight: bold;
}
* body .house .home .tophome .navbar ul a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
* body .house .home .tophome .navbar ul #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .home .bothome {
  background-color: #023430;
}
* body .house .skills {
  background-color: #146166;
  height: 110vh;
  color: white;
}
* body .house .skills .topskills {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
* body .house .skills .topskills h1 {
  text-align: right;
  font-size: 5vw;
  margin: 8vh 4vw 0 0;
}
* body .house .skills .topskills .navbar ul {
  text-align: center;
  margin: 12vh 0 0 3vw;
}
* body .house .skills .topskills .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 2.2vw 0 0;
  font-size: 1vw;
}
* body .house .skills .topskills .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .skills .topskills .navbar ul #selected {
  background-color: white;
  color: #146166;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .about {
  background-color: #0E4946;
  height: 110vh;
  color: white;
}
* body .house .about .abouttop {
  display: flex;
  justify-content: space-between;
}
* body .house .about .abouttop h1 {
  text-align: left;
  font-size: 5vw;
  margin: 6vh 0 0 4vw;
}
* body .house .about .abouttop .navbar ul {
  text-align: center;
  margin: 12vh 3vw 0 0;
}
* body .house .about .abouttop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 2.2vw 0 0;
  font-size: 1vw;
}
* body .house .about .abouttop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .about .abouttop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .portfolio {
  background-color: #080E2F;
  height: 110vh;
  color: white;
}
* body .house .portfolio .portfoliotop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
* body .house .portfolio .portfoliotop h1 {
  text-align: right;
  font-size: 5vw;
  margin: 6vh 4vw 0 0;
}
* body .house .portfolio .portfoliotop .navbar ul {
  text-align: center;
  margin: 12vh 0 0 3vw;
}
* body .house .portfolio .portfoliotop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 2.2vw 0 0;
  font-size: 1vw;
}
* body .house .portfolio .portfoliotop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .portfolio .portfoliotop .navbar ul #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .experience {
  background-color: #0E4946;
  height: 110vh;
  color: white;
}
* body .house .experience .experiencetop {
  display: flex;
  justify-content: space-between;
}
* body .house .experience .experiencetop .navbar ul {
  text-align: center;
  margin: 12vh 3vw 0 0;
}
* body .house .experience .experiencetop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 2.2vw 0 0;
  font-size: 1vw;
}
* body .house .experience .experiencetop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .experience .experiencetop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .experience .experiencetop h1 {
  text-align: left;
  font-size: 5vw;
  margin: 6vh 0 0 4vw;
}
* body .house .blog {
  background-color: #146166;
  height: 110vh;
  color: white;
}
* body .house .blog .blogtop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
* body .house .blog .blogtop .navbar ul {
  text-align: center;
  margin: 12vh 0 0 3vw;
}
* body .house .blog .blogtop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 2.2vw 0 0;
  font-size: 1vw;
}
* body .house .blog .blogtop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .blog .blogtop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .blog .blogtop h1 {
  text-align: right;
  font-size: 5vw;
  margin: 6vh 4vw 0 0;
}
* body .house .contact {
  background-color: #080E2F;
  height: 100vh;
  color: white;
}
* body .house .contact .contacttop {
  display: flex;
  justify-content: space-between;
}
* body .house .contact .contacttop .navbar ul {
  text-align: center;
  margin: 12vh 3vw 0 0;
}
* body .house .contact .contacttop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 2.2vw 0 0;
  font-size: 1vw;
}
* body .house .contact .contacttop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .contact .contacttop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .contact h1 {
  text-align: left;
  font-size: 5vw;
  margin: 6vh 4vw 0 0;
}/*# sourceMappingURL=style.css.map */