// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$mainblue: #080E2F;
$skillswhite: #FFFFFF;
$aboutgreen: #0E4946;
$skillsteal: #146166;
$iconblock: #023430;

* {
    font-family: 'Inter', sans-serif;
    body {
        margin: 0;
        .house {
            // maybe column flexbox
            display: flex;
            flex-direction: column;
            .home {
                background-color: $mainblue;
                height: 100vh;
                color: white;
                .tophome {
                    // background-color: palevioletred;
                    display: flex;
                    justify-content: space-between;
                    padding: 2%;
                    img {
                        width: 12vw;
                        height: 12vw;
                        padding: 1vw;
                    }
                    .navbar {
                        animation-name: moveInTop;
                        animation-duration: 1s;
                        ul {    
                            text-align: center;
                            // background-color: green;
                            a {
                                cursor: pointer;
                                color: white;
                                text-decoration: none;
                                #selected {
                                    background-color: white;
                                    color: $mainblue;
                                }
                            }
                            li {
                                display: inline;
                                padding: 0 1.5vw 0 0;
                                list-style: none;
                                font-size: 1.4vw;
                                font-weight: bold;
                            }
                            a {
                                cursor: pointer;
                                color: white;
                                text-decoration: none;
                            }
                            #selected {
                                background-color: white;
                                color: $mainblue;
                                border-radius: 5px;
                                padding: .4vw;
                            }
                        }
                    }
                }
                .bothome {
                    background-color: #023430;
                }
            }
            // SKILLS SECTION
            .skills {
                background-color: $skillsteal;
                height: 110vh;
                color: white;
                .topskills {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    h1 {
                        // background-color: antiquewhite;
                        text-align: right;
                        font-size: 5vw;
                        margin: 8vh 4vw 0 0;
                    }
                    .navbar {
                        animation-name: moveInTop;
                        animation-duration: 1s;
                        ul {
                            text-align: center;
                            margin: 8vh 0 0 3vw;
                            li {
                                list-style: none;
                                display: inline;
                                padding: 0 1vw 0 0;
                                font-size: 1vw;
                                font-weight: bold;
                                a {
                                    text-decoration: none;
                                    color: white;
                                }
                            }
                            #selected {
                                background-color: white;
                                color: $skillsteal;
                                border-radius: 5px;
                                padding: .4vw;
                            }
                        }
                    }
                }
                // Experience and Icons
                .pageskills {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1vw 15vw;
                    // The Experience list
                    .skillslist {
                        // pad and position
                        // background-color: red;
                        animation-name: moveInLeft;
                        animation-duration: 2s;
                        h2 {
                            font-size: 1.6vw;
                            margin-left: 3.7vw;
                        }
                        ul {
                            li {
                                text-align: left;
                                list-style: none;
                                padding: 1vw;
                                font-size: 1.3vw;
                            }
                        }
                    }
                    // Verticle Line
                    .vl {
                        border: 1px solid white;
                        height: 55vh;
                    }
                    // The Icons of skill
                    .skillicons {
                        // the frontend
                        .front {
                            p {
                                // set the right size
                                font-size: 1.5vw;
                            }
                            // The frontend icons
                            .icons {
                                display: flex;
                                gap: 8px;
                                // The frontend icon circles
                                .iconblock {
                                    // set the size and radius
                                    background-color: $mainblue;
                                    width: 4.5vw;
                                    height: 4.5vw;
                                    border-radius: 50%;
                                    animation-name: moveInRight;
                                    animation-duration: 2s;
                                    // The actual settings for the icons
                                    #html {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3vw;
                                            height: 7vh;
                                        }
                                    }
                                    #css {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3vw;
                                            height: 7vh; 
                                        }
                                    }
                                    #js {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3vw;
                                            height: 7.2vh;
                                        }
                                    }
                                    #react {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.5vw;
                                            height: 6.5vh;
                                        }
                                    }
                                    #sass {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3vw;
                                            height: 4vh;
                                        }
                                    }
                                    #tailwind {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3vw;
                                            height: 4vh;
                                        }
                                    }
                                }
                                #htmlcircle {
                                    // background-color: rebeccapurple;
                                    animation-name: moveInRight;
                                    animation-duration: 2s;
                                }
                                #csscircle {
                                    animation-name: moveInRight;
                                    animation-duration: 2s; 
                                }
                                #jscircle {
                                    animation-name: moveInRight;
                                    animation-duration: 2s;
                                }
                                #reactcircle {
                                    animation-name: moveInRight;
                                    animation-duration: 2s;
                                }
                                #sasscircle {
                                    animation-name: moveInRight;
                                    animation-duration: 2s;
                                }
                                #tailwindcircle {
                                    animation-name: moveInRight;
                                    animation-duration: 2s;
                                }
                            }
                        }
                        // the backend
                        .back {
                            p {
                                // set the right size
                                font-size: 1.5vw;
                            }
                            // The backend icons
                            .icons {
                                display: flex;
                                gap: 8px;
                                // The backend icon circles
                                .iconblock {
                                    // set the size and radius
                                    background-color: $mainblue;
                                    width: 4.5vw;
                                    height: 4.5vw;
                                    border-radius: 50%;
                                    animation-name: moveInRight;
                                    animation-duration: 2s;
                                    // The actual settings for the icons
                                    #python {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.5vw;
                                            height: 7vh;
                                        } 
                                    }
                                    #django {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 4vw;
                                            height: 6.5vh;
                                            margin-right: .3vw;
                                        }
                                    }
                                    #nodejs {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 2.8vw;
                                            height: 6vh; 
                                        }
                                    }
                                    #postgre {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3vw;
                                            height: 6vh;
                                        }
                                    }
                                    #firebase {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.3vw;
                                            height: 7.3vh;
                                            margin-bottom: 1.8vh;
                                            margin-left: .2vw;
                                        }
                                    }
                                    #mongodb {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100%;
                                        img {
                                            width: 3.3vw;
                                            height: 7vh;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ABOUT SECTION
            .about {
                background-color: $aboutgreen;
                height: 110vh;
                color: white;
                .abouttop {
                    display: flex;
                    justify-content: space-between;
                    h1 {
                    // background-color: antiquewhite;
                    text-align: left;
                    font-size: 5vw;
                    margin: 6vh 0 0 4vw;
                    }
                    .navbar {
                        animation-name: moveInTop;
                        animation-duration: 1s;
                            ul {
                                text-align: center;
                                margin: 8vh 3vw 0 0;
                                li {
                                    list-style: none;
                                    display: inline;
                                    padding: 0 1vw 0 0;
                                    font-size: 1vw;
                                    a {
                                        text-decoration: none;
                                        color: white;
                                    }
                                }
                                #selected {
                                    background-color: white;
                                    color: $aboutgreen;
                                    border-radius: 5px;
                                    padding: .4vw;
                                }
                            }
                    }
                }
            }
            // PORTFOLIO SECTION
            .portfolio {
                background-color: $mainblue;
                height: 110vh;
                color: white;
                .portfoliotop {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    h1 {
                        // background-color: antiquewhite;
                        text-align: right;
                        font-size: 5vw;
                        margin: 6vh 4vw 0 0;
                    }
                    .navbar {
                        animation-name: moveInTop;
                        animation-duration: 1s;
                            ul {
                                text-align: center;
                                margin: 8vh 0 0 3vw;
                                li {
                                    list-style: none;
                                    display: inline;
                                    padding: 0 1vw 0 0;
                                    font-size: 1vw;
                                    a {
                                        text-decoration: none;
                                        color: white;
                                    }
                                }
                                #selected {
                                    background-color: white;
                                    color: $mainblue;
                                    border-radius: 5px;
                                    padding: .4vw;
                                }
                            }
                        }
                }
            }
            // EXPERIENCE SECTION
            .experience {
                background-color: $aboutgreen;
                height: 110vh;
                color: white;
                .experiencetop {
                    display: flex;
                    justify-content: space-between;
                    .navbar {
                        animation-name: moveInTop;
                        animation-duration: 1s;
                        ul {
                            text-align: center;
                            margin: 8vh 3vw 0 0;
                                li {
                                    list-style: none;
                                    display: inline;
                                    padding: 0 1vw 0 0;
                                    font-size: 1vw;
                                    a {
                                        text-decoration: none;
                                        color: white;
                                    }
                                }
                                #selected {
                                    background-color: white;
                                    color: $aboutgreen;
                                    border-radius: 5px;
                                    padding: .4vw;
                                }
                            }
                    }
                    h1 {
                        // background-color: antiquewhite;
                        text-align: left;
                        font-size: 5vw;
                        margin: 6vh 0 0 4vw;
                    }
                }
            }
            // BLOG SECTION
            .blog {
                background-color: $skillsteal;
                height: 110vh;
                color: white;
                .blogtop {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    .navbar {
                        animation-name: moveInTop;
                        animation-duration: 1s;
                        ul {
                            text-align: center;
                            margin: 8vh 0 0 3vw;
                                li {
                                    list-style: none;
                                    display: inline;
                                    padding: 0 1vw 0 0;
                                    font-size: 1vw;
                                    a {
                                        text-decoration: none;
                                        color: white;
                                    }
                                }
                                #selected {
                                    background-color: white;
                                    color: $aboutgreen;
                                    border-radius: 5px;
                                    padding: .4vw;
                                }
                            }
                    }
                    h1 {
                        // background-color: antiquewhite;
                        text-align: right;
                        font-size: 5vw;
                        margin: 6vh 4vw 0 0;
                    }
                }
            }
            // CONTACT SECTION
            .contact {
                background-color: $mainblue;
                height: 100vh;
                color: white;
                .contacttop {
                    display: flex;
                    justify-content: space-between;
                    h1 {
                        font-size: 5vw;
                        margin: 6vh 0 0 4vw;
                    }
                    .navbar {
                        animation-name: moveInTop;
                        animation-duration: 1s;
                        // animation-timing-function: ease-out;
                        ul {
                            text-align: center;
                            margin: 8vh 3vw 0 0;
                                li {
                                    list-style: none;
                                    display: inline;
                                    padding: 0 1vw 0 0;
                                    font-size: 1vw;
                                    a {
                                        text-decoration: none;
                                        color: white;
                                    }
                                }
                                #selected {
                                    background-color: white;
                                    color: $aboutgreen;
                                    border-radius: 5px;
                                    padding: .4vw;
                                }
                            }
                    }
                }
                h1 {
                    // background-color: antiquewhite;
                    text-align: left;
                    font-size: 5vw;
                    margin: 6vh 4vw 0 0;
                }
            }
        }
    }
}

// KEY FRAMES TIME

// FROM TOP
@keyframes moveInTop {
    0% {
        opacity: 0;
        /* translate on the x axis */
        transform: translateY(-100px);
    }

    80% {
        /* BELOW makes it go extra and bounce back */
        /* transform: translateX(20px); */
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// FROM BOTTOM
@keyframes moveInBottom {
    0% {
        opacity: 0;
        /* translate on the x axis */
        transform: translateY(100px);
    }

    80% {
        /* BELOW makes it go extra and bounce back */
        /* transform: translateX(20px); */
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// FROM LEFT
@keyframes moveInLeft {
    0% {
        opacity: 0;
        /* translate on the x axis */
        transform: translateX(-100px);
    }

    80% {
        /* BELOW makes it go extra and bounce back */
        /* transform: translateX(20px); */
    }

    100% {
        opacity: 1;
        transform: translate(0);
    } 
}

// FROM RIGHT
@keyframes moveInRight {
    0% {
        opacity: 0;
        /* translate on the x axis */
        transform: translateX(100px);
    }

    80% {
        /* BELOW makes it go extra and bounce back */
        /* transform: translateX(20px); */
    }

    100% {
        opacity: 1;
        transform: translate(0);
    } 
}


