@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}
* body {
  margin: 0;
}
* body .house {
  display: flex;
  flex-direction: column;
}
* body .house .home {
  background-color: #080E2F;
  height: 100vh;
  color: white;
}
* body .house .home .tophome {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
* body .house .home .tophome img {
  width: 12vw;
  height: 12vw;
  padding: 1vw;
}
* body .house .home .tophome .navbar {
  animation-name: moveInTop;
  animation-duration: 1s;
}
* body .house .home .tophome .navbar ul {
  text-align: center;
}
* body .house .home .tophome .navbar ul a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
* body .house .home .tophome .navbar ul a #selected {
  background-color: white;
  color: #080E2F;
}
* body .house .home .tophome .navbar ul li {
  display: inline;
  padding: 0 1.5vw 0 0;
  list-style: none;
  font-size: 1.4vw;
  font-weight: bold;
}
* body .house .home .tophome .navbar ul a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
* body .house .home .tophome .navbar ul #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .home .bothome {
  background-color: #023430;
}
* body .house .skills {
  background-color: #146166;
  height: 110vh;
  color: white;
}
* body .house .skills .topskills {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
* body .house .skills .topskills h1 {
  text-align: right;
  font-size: 5vw;
  margin: 8vh 4vw 0 0;
}
* body .house .skills .topskills .navbar {
  animation-name: moveInTop;
  animation-duration: 1s;
}
* body .house .skills .topskills .navbar ul {
  text-align: center;
  margin: 8vh 0 0 3vw;
}
* body .house .skills .topskills .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1vw;
  font-weight: bold;
}
* body .house .skills .topskills .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .skills .topskills .navbar ul #selected {
  background-color: white;
  color: #146166;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .skills .pageskills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 15vw;
}
* body .house .skills .pageskills .skillslist {
  animation-name: moveInLeft;
  animation-duration: 2s;
}
* body .house .skills .pageskills .skillslist h2 {
  font-size: 1.6vw;
  margin-left: 3.7vw;
}
* body .house .skills .pageskills .skillslist ul li {
  text-align: left;
  list-style: none;
  padding: 1vw;
  font-size: 1.3vw;
}
* body .house .skills .pageskills .vl {
  border: 1px solid white;
  height: 55vh;
}
* body .house .skills .pageskills .skillicons .front p {
  font-size: 1.5vw;
}
* body .house .skills .pageskills .skillicons .front .icons {
  display: flex;
  gap: 8px;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock {
  background-color: #080E2F;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  animation-name: moveInRight;
  animation-duration: 2s;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #html img {
  width: 3vw;
  height: 7vh;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #css {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #css img {
  width: 3vw;
  height: 7vh;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #js {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #js img {
  width: 3vw;
  height: 7.2vh;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #react {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #react img {
  width: 3.5vw;
  height: 6.5vh;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #sass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #sass img {
  width: 3vw;
  height: 4vh;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #tailwind {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .front .icons .iconblock #tailwind img {
  width: 3vw;
  height: 4vh;
}
* body .house .skills .pageskills .skillicons .front .icons #htmlcircle {
  animation-name: moveInRight;
  animation-duration: 1s;
}
* body .house .skills .pageskills .skillicons .front .icons #csscircle {
  animation-name: moveInRight;
  animation-duration: 2s;
}
* body .house .skills .pageskills .skillicons .front .icons #jscircle {
  animation-name: moveInRight;
  animation-duration: 3s;
}
* body .house .skills .pageskills .skillicons .front .icons #reactcircle {
  animation-name: moveInRight;
  animation-duration: 4s;
}
* body .house .skills .pageskills .skillicons .front .icons #sasscircle {
  animation-name: moveInRight;
  animation-duration: 5s;
}
* body .house .skills .pageskills .skillicons .front .icons #tailwindcircle {
  animation-name: moveInRight;
  animation-duration: 6s;
}
* body .house .skills .pageskills .skillicons .back p {
  font-size: 1.5vw;
}
* body .house .skills .pageskills .skillicons .back .icons {
  display: flex;
  gap: 8px;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock {
  background-color: #080E2F;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #python {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #python img {
  width: 3.5vw;
  height: 7vh;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #django {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #django img {
  width: 4vw;
  height: 6.5vh;
  margin-right: 0.3vw;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #nodejs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #nodejs img {
  width: 2.8vw;
  height: 6vh;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #postgre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #postgre img {
  width: 3vw;
  height: 6vh;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #firebase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #firebase img {
  width: 3.3vw;
  height: 7.3vh;
  margin-bottom: 1.8vh;
  margin-left: 0.2vw;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #mongodb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
* body .house .skills .pageskills .skillicons .back .icons .iconblock #mongodb img {
  width: 3.3vw;
  height: 7vh;
}
* body .house .skills .pageskills .skillicons .back .icons #pythoncircle {
  animation-name: moveInRight;
  animation-duration: 1s;
}
* body .house .skills .pageskills .skillicons .back .icons #djangocircle {
  animation-name: moveInRight;
  animation-duration: 2s;
}
* body .house .skills .pageskills .skillicons .back .icons #nodejscircle {
  animation-name: moveInRight;
  animation-duration: 3s;
}
* body .house .skills .pageskills .skillicons .back .icons #postgrecircle {
  animation-name: moveInRight;
  animation-duration: 4s;
}
* body .house .skills .pageskills .skillicons .back .icons #mongodbcircle {
  animation-name: moveInRight;
  animation-duration: 5s;
}
* body .house .skills .pageskills .skillicons .back .icons #firebasecircle {
  animation-name: moveInRight;
  animation-duration: 6s;
}
* body .house .about {
  background-color: #0E4946;
  height: 110vh;
  color: white;
}
* body .house .about .abouttop {
  display: flex;
  justify-content: space-between;
}
* body .house .about .abouttop h1 {
  text-align: left;
  font-size: 5vw;
  margin: 6vh 0 0 4vw;
}
* body .house .about .abouttop .navbar {
  animation-name: moveInTop;
  animation-duration: 1s;
}
* body .house .about .abouttop .navbar ul {
  text-align: center;
  margin: 8vh 3vw 0 0;
}
* body .house .about .abouttop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1vw;
  font-weight: bold;
}
* body .house .about .abouttop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .about .abouttop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .portfolio {
  background-color: #080E2F;
  height: 110vh;
  color: white;
}
* body .house .portfolio .portfoliotop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
* body .house .portfolio .portfoliotop h1 {
  text-align: right;
  font-size: 5vw;
  margin: 6vh 4vw 0 0;
}
* body .house .portfolio .portfoliotop .navbar {
  animation-name: moveInTop;
  animation-duration: 1s;
}
* body .house .portfolio .portfoliotop .navbar ul {
  text-align: center;
  margin: 8vh 0 0 3vw;
}
* body .house .portfolio .portfoliotop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1vw;
}
* body .house .portfolio .portfoliotop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .portfolio .portfoliotop .navbar ul #selected {
  background-color: white;
  color: #080E2F;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .experience {
  background-color: #0E4946;
  height: 110vh;
  color: white;
}
* body .house .experience .experiencetop {
  display: flex;
  justify-content: space-between;
}
* body .house .experience .experiencetop .navbar {
  animation-name: moveInTop;
  animation-duration: 1s;
}
* body .house .experience .experiencetop .navbar ul {
  text-align: center;
  margin: 8vh 3vw 0 0;
}
* body .house .experience .experiencetop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1vw;
}
* body .house .experience .experiencetop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .experience .experiencetop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .experience .experiencetop h1 {
  text-align: left;
  font-size: 5vw;
  margin: 6vh 0 0 4vw;
}
* body .house .blog {
  background-color: #146166;
  height: 110vh;
  color: white;
}
* body .house .blog .blogtop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
* body .house .blog .blogtop .navbar {
  animation-name: moveInTop;
  animation-duration: 1s;
}
* body .house .blog .blogtop .navbar ul {
  text-align: center;
  margin: 8vh 0 0 3vw;
}
* body .house .blog .blogtop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1vw;
}
* body .house .blog .blogtop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .blog .blogtop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .blog .blogtop h1 {
  text-align: right;
  font-size: 5vw;
  margin: 6vh 4vw 0 0;
}
* body .house .contact {
  background-color: #080E2F;
  height: 100vh;
  color: white;
}
* body .house .contact .contacttop {
  display: flex;
  justify-content: space-between;
}
* body .house .contact .contacttop h1 {
  font-size: 5vw;
  margin: 6vh 0 0 4vw;
}
* body .house .contact .contacttop .navbar {
  animation-name: moveInTop;
  animation-duration: 1s;
}
* body .house .contact .contacttop .navbar ul {
  text-align: center;
  margin: 8vh 3vw 0 0;
}
* body .house .contact .contacttop .navbar ul li {
  list-style: none;
  display: inline;
  padding: 0 1vw 0 0;
  font-size: 1vw;
}
* body .house .contact .contacttop .navbar ul li a {
  text-decoration: none;
  color: white;
}
* body .house .contact .contacttop .navbar ul #selected {
  background-color: white;
  color: #0E4946;
  border-radius: 5px;
  padding: 0.4vw;
}
* body .house .contact h1 {
  text-align: left;
  font-size: 5vw;
  margin: 6vh 4vw 0 0;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    /* translate on the x axis */
    transform: translateY(-100px);
  }
  80% {
    /* BELOW makes it go extra and bounce back */
    /* transform: translateX(20px); */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* translate on the x axis */
    transform: translateY(100px);
  }
  80% {
    /* BELOW makes it go extra and bounce back */
    /* transform: translateX(20px); */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* translate on the x axis */
    transform: translateX(-100px);
  }
  80% {
    /* BELOW makes it go extra and bounce back */
    /* transform: translateX(20px); */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    /* translate on the x axis */
    transform: translateX(100px);
  }
  80% {
    /* BELOW makes it go extra and bounce back */
    /* transform: translateX(20px); */
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}/*# sourceMappingURL=style.css.map */